 <!-- Medicolegal Section -->
    <section class="success" id="medicolegal">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I worked as a Consultant Orthopaedic Surgeon specialising in children’s orthopaedics from 1988 until 2014. I initially worked at the Children’s and Royal Orthopaedic Hospitals in Birmingham from 1988 to 2007 and then at Great Ormond Street Hospital, London, where I was the senior orthopaedic surgeon until my retirement from NHS practice at the end of 2014. Since then I have continued to undertake medicolegal work, exclusively relating to children’s orthopaedics and the adult sequelae of childhood conditions.  
</p>
                </div>
                <div class="col-lg-4">
                    <p>I have extensive experience of all aspects of children’s orthopaedics, with particular interests in congenital deformities, limb reconstruction, cerebral palsy and other neuromuscular conditions, hip and foot disorders. 
I am a Past President of the British Limb Reconstruction Society (<a href = "http://www.boa.ac.uk/about-boa/british-limb-reconstruction-society-blrs/">BLRS</a>) and was President of the British Society for children’s Orthopaedic Surgery (<a href = "http://www.bscos.com/">BSCOS</a>) 2008 to 2010.  I am a former council member of the British Orthopaedic Association (<a href = "http://www.boa.ac.uk/">BOA</a>). 
I remain an Honorary Consultant at Great Ormond Street. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i>Download my CV
                    </a>
                </div>
            </div>
        </div>
    </section>
