 <!-- Medicolegal Section -->
    <section class="success" id="medicolegal">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I undertake Medicolegal work on behalf of both claimants and defendants, concentrating on children's orthopaedic conditions and limb reconstruction. I undertake approximately 100 medical negligence reports per annum.
Where patients need to be seen as part of a claim I can see them in either Birmingham or at Great Ormond Street (London).</p>
                </div>
                <div class="col-lg-4">
                    <p>My fees for Medicolegal work are dependent upon the complexity of the case but are normally charged at £250/hr. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i>Download my CV
                    </a>
                </div>
            </div>
        </div>
    </section>
